<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterById</key>
	<string>/v1/public/characters/{characterId}</string>
	<key>characters</key>
	<string>/v1/public/characters</string>
</dict>
</plist>
