//
//  TEST.xcconfig
//  MComics
//
//  Created by Mateus Forgiarini da Silva  on 01/05/20.
//  Copyright © 2020 Mateus Forgiarini da Silva. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-MComics/Pods-MComics.test.xcconfig"

API_KEY = 1
API_URL = http:/$()/localhost:8080
HASH_VALUE = 1
TS_VALUE = 1

APP_DISPLAY_NAME = MComics
